spring:
    config:
      import: optional:configserver:${SPRING_CLOUD_CONFIG_URI:http://localhost:8889}
    application:
      name: discovery-service

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
